<select (change)="onOptionSelected($event)" class="btn btn-primary">
    <option disabled selected>סוגי טיולים</option>
    <option *ngFor="let i of list" value={{i.kindTripId}}>{{i.kindTripName}}</option>
</select>

<button (click)="addTrip()" class="btn btn-primary">להוספת טיול</button>
<router-outlet></router-outlet>
<button mat-stroked-button color="warn" (click)="close()" [hidden]="!showDiv">close</button>

<div *ngFor="let item of ListT">
    <ng-container>
        <p style="text-align: left;" class="card" (click)="move(item.code)">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span>Trip </span>
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                </mat-toolbar-row>

                <mat-toolbar-row>
                    <span>יעד:{{item.goal}}</span><br>
                    <mat-divider></mat-divider>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <span>תאריך:{{item.date}}</span><br>
                    <mat-divider></mat-divider>
                </mat-toolbar-row>
                <mat-toolbar-row>
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon favorite-icon"
                        aria-label="Example icon-button with heart icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
        </p>
    </ng-container>
</div>