<img src="../../../assets/gif/back12.png" alt="Workplace" usemap="#workmap"
    style="width: 70%;height: 800px;margin-right: 0%;">

<map name="workmap">
    <area shape="rect" coords="90,80,300,400" alt="Phone" href="speTrip/{{15}}">
    <area shape="rect" coords="34,44,270,350" alt="Computer" href="speTrip/{{10}}">
    <area shape="rect" coords="400,100,700,400" alt="Computer" href="speTrip/{{12}}">
    <area shape="rect" coords="800,100,1000,500" alt="Computer" href="speTrip/{{14}}">
</map>
<img src="../../../assets/gif/back19.png" style="width: 26%;height: 700px;margin-left: 4%;">

<!-- <img src="../../../assets/gif/back20.jpg" style="width: 100%;height: 700px;color: white;" title="Jurney" [title]="text"> -->

<div class="under" style="width: 100%;">
    <p style="margin-bottom: 0%;"><b>tours@gmail.com</b></p>
</div>
<!-- <body style="background-image:url('../../../assets/gif/back20.jpg')">
    <h2>Jurney in World</h2>
    <p
        style="margin-top: 20%;width: 80%;text-align: center;background-color: darkgrey;margin-right: 10%;font-size:xx-large;">
        <strong>default the background image will repeat itself if it is smaller than the element where it is specified,
            in this case the BODY element.</strong> </p>
</body> -->