<div class="menu">
    <div (click)="connect()" style="cursor: pointer;"><mat-icon>supervised_user_circle</mat-icon></div>

    <a routerLink="home" class="menu-link">Home </a>
    <a routerLink="login" class="menu-link">Login</a>
    <a *ngIf="name != 'manager'" routerLink="register" class="menu-link">Register</a>
    <a *ngIf="name != 'manager'" routerLink="ourTrips" class="menu-link">Our Trips</a>
    <a routerLink="personal" *ngIf="name != null && name != 'manager'" class="menu-link">Personal Area</a>

    <a routerLink="managerUsers" *ngIf="name == 'manager'" class="menu-link">Our Users</a>
    <a routerLink="ourTrips" *ngIf="name == 'manager'" class="menu-link">Our Trips</a>

    <a *ngIf="name != null && name != 'manager'" class="menu-link">{{name}}</a>
    <a *ngIf="name == 'manager'" class="menu-link">{{name}}</a>
    <input type="text" placeholder="Search..." class="search-box">


</div>