
.divLock{
   display: none; 
}
.divOpen{
   display: block;
}
.card{
    text-align:right;
    margin: 5%;
    width: 20%;
    float: right;
}
.card:hover{
    cursor: pointer;
}
.special{
    background-color: rgb(219, 253, 255);
}
/* ///////////////// */
.example-card {
    max-width: 250px;
    float: right;
    margin: 3%;
  }
  
  .example-header-image {
    background-image: url('../../../assets/gif/15.png');
    background-size: cover;
  }
  .dis{
    background-color: rgb(192, 190, 190);
  }