<mat-drawer-container class="example-container">
    <mat-drawer #drawer style="width: 20%;">
        <mat-selection-list #shoes [multiple]="false" [(ngModel)]="select" (selectionChange)="onOptionSelected(select)"
            style="width: 100%;">
            <mat-list-option value={{0}}>כל הטיולים</mat-list-option>
            <mat-list-option *ngFor="let i of list" value={{i.kindTripId}}>{{i.kindTripName}}</mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
        <div *ngFor="let item of ListT">
            <ng-container *ngIf="item.date && compareDates(item.date,d1)==1">
                <mat-card class="example-card" style="text-align: left;">
                    <mat-card-header [ngClass]="find(item)==0?'special':'none'">
                        <div mat-card-avatar class="example-header-image" style="width: 24%;"></div>

                        <mat-card-title>Jurney world</mat-card-title>
                        <mat-card-subtitle>{{item.goal}}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/{{item.img}}.png" width="100%" class="img"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            date:{{item.date|date}}
                            <br>
                            {{item.goal}}:goal
                        </p>
                    </mat-card-content>
                    <mat-card-actions [ngClass]="item.place!<=0?'dis':'none'">
                        <button mat-button (click)="move2(item.code)">LIKE</button>
                        <button mat-button (click)="move(item.code)" style="cursor: pointer;">MORE</button>
                    </mat-card-actions>
                </mat-card>

            </ng-container>
        </div>
        <button mat-raised-button (click)="drawer.toggle()" style="margin-left: 0%;margin-top: 3%;">סינון</button>
    </mat-drawer-content>
</mat-drawer-container>

<a href="#header"><img src="../../../assets/gif/חץ ללא רקע.png" id="chetz" style="width: 3%;"> </a>