<div class="container mt-3" id="one">
    <table class="table">
        <thead>
            <tr>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>אימייל</th>
                <th>פלאפון</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listUsers">
                <td>{{p.firstName}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.email}}</td>
                <td>{{p.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>