
.hide{
    width: 20%;
}
.card{
    text-align:right;
    margin-right: 10%;
    margin-top: 5%;
    width: 30%;
    float: right;
    /* height: 500px; */
}
.img{
    float: right;
    width: 30%;
    margin-top: 5%;
    height: 510px;
}